# Nova Arquitetura de Artefatos (Isolada)
/logs/*
/output/*
/live-build-workspace/*

# Live-Build Local Artifacts (Antigos/Residuais)
/.trunk/

# Arquivos de Build e ISOs residuais
*.iso
*.img
*.contents
*.files
*.packages
*.modified_timestamps
*.debian.tar.*
*.orig.tar.*

# Editor/OS Files
.DS_Store
*.swp
*~
*.log
work/
*.qcow2
.continue/
