UI menu.c32
PROMPT 0
TIMEOUT 30

MENU TITLE ZFSBootMenu BIOS Bridge
LABEL zfsbootmenu
    MENU LABEL Start ZFSBootMenu
    KERNEL /zbm/vmlinuz
    APPEND initrd=/zbm/initramfs.img zbm.import_policy=hostid console=tty0
